* {
  box-sizing: border-box;
}
body {
  color: plum;
}
header {
  position: fixed;
  height: 150px;
  top: 0;
  display: flex;
  width: 100%;
  background-color: white;
  align-items: center;
}
#header-img {
  width: 600px;
}
h1 {
  color: palevioletred;
  font-size: 20px;
  text-align: center;
}
a.logo {
  margin-top: 15px;
  width: 100px;
}
a.logo:hover,
a.logo:focus {
  text-decoration: none;
  outline: none;
}

main {
  justify-content: center;
  margin-top: 150px;
}
#container {
  display: block;
  padding: 1em;
  align-content: center;
  border: 1px solid plum;
  margin: 10px;
  margin-right: 400px;
  margin-left: 400px;
  text-align: center;
}

.footer {
  background-color: plum;
  padding: 1px;
  text-align: center;
}
.footer p {
  color: white;
}
